*{
    margin: 0;
    padding: 0;
    /* background-color: ; */
    /* background-color: ; */
    box-sizing: border-box;
    scroll-behavior: smooth ;
}
body{
    width: 97vw;
    transition: all ease 0.7s;
    height: 100%;
    font-family: gilroy;
    /* background-color: rgb(255,255,255); */
  
    
}
.tt{
    position: absolute;
    width: 3vw;
    cursor: pointer;
    height: 6vh;
    top: 10%;
    left: 20%;
    /* background-color: rgb(38, 34, 34); */
    text-align: center;
    justify-content: center;
    justify-items: center;
    transition: all ease 0.7s;

    


}
.tt i{
    color: rgb(24, 23, 22);
    z-index: 500;
    top: 20%;
    font-size: 7vh;
    left: 20%;
    transform: translate(-30%,-20%);
    position: absolute;
    transition: all ease 0.7s;
   


}
.main{
    width: 100vw;
    height: 100vh;
    /* background-color:  red; */
}
.nav{
    width: 100vw;
    height: 6vh;
    background-color: aliceblue;
    display: flex;
    position: static;
    overflow: hidden;
    transition: all ease 0.7s;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0.1px 0.1px 0.1px black;
    z-index: 200;
}

.navl{
    width: 35vw;
    /* margin-left: 2vh; */
    height: 100%;
    /* background-color: blue; */
    display: flex;
    font-size: 1.4vw;
    justify-content: space-between;
    /* justify-content: center; */
    padding: 0 2vw;
    text-align: center;
    padding-right: 6vw;

}
#aa{
    font-size: 2.5vw;
    color: rgb(202, 21, 21);
}
.navl h3{
     margin-top: 1vh;
     font-style: italic;
     margin-left: 1vw;
     
}
#hone{
    
    margin-top: -2px;
    
    
}
#nal{
    color: rgb(36, 129, 129);
    /* color:; */
}
.navr{
    width: 70vw;
    height: 100%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    font-size: 2.1vw;
    
    text-decoration: none;
    padding: 0.5vw 0.9vh;
    /* background-color: rgb(48, 80, 80); */
}
.navr h6 a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    z-index: 90;
}
.navr h6 a:hover{
    color: rgb(10, 151, 151);
}
#hey{
    color: rgb(17, 112, 112);
}
.page1{
    width: 100vw;
    /* background-color: aqua; */
    height: 90vh;
    display: flex;
    
}
.page1left{
    width: 50vw;
    height: 90vh;
    
}
.page1left h1{
    margin-top: 9vh;
    margin-left: 2VW;
    width: 46vw;
    font-size: 9.7vh;
    font-weight: 640;
}
#VV{
    color: rgb(4, 100, 100);
}
.page1right{
    width: 50vw;
    height: 90vh;
    /* background-color: blueviolet; */
    background-image: url(https://ik.imagekit.io/sheryians/photed_MVice1qZE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
#copu{
    background-color: rgb(11, 30, 119);   
    color:  rgb(255,255,255);
    border-radius: 50%;
    padding: 5px;
    margin-left: 1.9vw;
    margin-right: 1vw;
    margin-top: 3vh;

 }
 .ppp{
     padding: 1.5vh 0;
     font-weight: 700;
     font-size: 3.8vh;
     font-style: oblique;
     font-weight: 900;
     opacity: 0.99;
     padding-top: 1vh;
     
 }

 #eee{
    padding: 2.3vh 4.6vw;
    background-color: rgb(4, 141, 73);
    font-size: 1.7vw;
    margin-left: 3vw;
    color:  rgb(172, 207, 15);
    font-weight: bold;

    margin-top: 7vh;
    /* border-top-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    border-radius: 15px;
}

.page2{
    
    width: 100vw;
    height: 95vh;
    /* background-color: aqua; */
    font-size: 3.6vh;
    margin-top: 5vh;

 
    
}
#hh{
    justify-items: center;
    justify-content: center;
    margin-left: 25vw;
    margin-top: 3vh;
}
.page21 img{
    width: 15vh;
    /* height: 7vh; */
    margin: 5.3vh 4vw;
    
}
.page21{
    text-align: center;
}
.page3{
    width: 100vw;
    height: 93vh;
    display: flex;
    /* background-color: aqua; */
}
.page3l{
    width: 50vw;
    height: 93vh;
    /* background-color: aqua; */
}
.page3l img{
    padding: 1.8vh 3vw;
  height: 60vh;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* border-radius: 10px; */
  margin-top: 7vh;
  border-radius: 30%;
  
}
.page3r{
    width: 50vw;
    height: 93vh;
    /* background-color: blue; */
}
.page3r h1{
    width: 50vw;
    padding: 1.1vh 4vw;
    font-size: 4.8vw;
    margin-top: 7vh;
}
.page3r p{
    width: 50vw;
    font-size: 3vw;
    padding: 1.1vh 4vw;
    font-weight: 500;
    color: rgb(73, 66, 66);
}


@media only screen and (max-width: 1070px) {
    body{
        width: 100vw;
        height: 100%;
        font-family: gilroy;
        z-index: -400;
    }
    .main{
        width: 100vw;
        height: 100vh;
        /* background-color:  red; */
    }
    .nav{
        width: 100vw;
        height: 70.4vh;
        background-color: rgb(20, 114, 196);
        display: flex;
        flex-direction: column;
        position: static;
        overflow: hidden;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0.1px 0.1px 0.1px black;
        z-index: 400;
        justify-content: start;
        transition: all ease .9s;
    }
    
    .navl{
        width: 100vw;
        /* margin-left: 2vh; */
        height: 7vh;
        /* background-color: blue; */
        display: flex;
        /* flex-direction: column; */
        font-size: 2.9vw;
        justify-content: start;
        /* justify-content: center; */
        padding: 0.1 4vw;
        text-align: center;
        padding-right: 4vw;
        border-bottom: 0.1vw rgb(83, 73, 73) solid;
        margin-top: -1vh;
        
    
    }
    .navl{
        font-size: 2.3vh;
        padding-top: 2.9px;
    }
    
    #aa{
        font-size: 4.9vw;
        color: rgb(202, 21, 21);
    }
    .navl h3{
         margin-top: 1vh;
         font-style: italic;
         
         margin-left: 6vw;
         letter-spacing: 1.6vw;
         /* border-bottom: 70px black; */
         text-shadow: 2px 2px 5px rgb(96, 144, 156);
         
    }
    #hone{
        
        margin-top: -2px;
        
        
    }
    #nal{
        color: rgb(36, 129, 129);
    }
    .navr{
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        font-size: 8.1vw;
        /* z-index: 6000; */
        text-decoration: none;
        /* background-color: rgb(109, 143, 173); */
        padding: 1.5vw 1.9vh;
        /* background-color: aqua; */
        overflow-y: auto;
        background-image: url(https://images.unsplash.com/photo-1661961110218-35af7210f803?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    }
    .navr h6{
        background-color: rgba(240, 248, 255, 0.473);
        width: 100%;
        height: 100%;
        border-top-left-radius: 2.5vh;
        border-top-right-radius: 2.5vh;
        border-bottom-left-radius: 2.5vh;
        border-bottom-right-radius: 2.5vh;
        gap: 1vh;
        border: 1px solid rgb(143, 27, 27);
    }
    #hey{
  background-color: transparent;
  color: rgb(16, 117, 117);
    }
    .navr h6 a{
        text-decoration: none;
        color:rgb(7, 13, 102);
        font-weight: 400;
        z-index: 550;
        font-style: italic;

        padding: 7vh auto;
        margin: 10vh 3vw;
        /* color: aqua; */
        font-size: 8vh;
        /* background-color: beige; */
        /* border-bottom: 0.1vw dotted black; */
        background-color: transparent;
        
        
    }
    .navr h6 a:hover{
        color: rgb(10, 151, 151);
    }

    .page1{
        width: 100vw;
        /* background-color: aqua; */
        height: 105vh;
        display: flex;
        flex-direction: column;
        
    }
    .page1left{
        width: 100vw;
        height: 90vh;
        /* background-color: transparent; */
        z-index: 8;
        background-image: url(https://ik.imagekit.io/sheryians/photed_MVice1qZE.png);
        background-size: cover;
    
        
        
    }
    .page1left h1{
        margin-top: 4vh;
        margin-left: 6VW;
        width: 80vw;
        font-size: 9.7vh;
        font-weight: 640;
        background-color: transparent;
    
        
    }
    #VV{
        color: rgb(129, 20, 20);
        font-style: italic;
        opacity: 0.8;
        background-color: transparent;
    }
    .page1right{
        width: 100vw;
        height: 90vh;
        /* background-color: blueviolet; */
        background-image: url(https://ik.imagekit.io/sheryians/photed_MVice1qZE.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        
        background-position: center;
        z-index: 2;
        
        
    }
    #copu{
        background-color: rgb(11, 30, 119);   
        color:  rgb(255,255,255);
        border-radius: 50%;
        padding: 5px;
        margin-left: 2.9vw;
        margin-right: 1vw;
        margin-top: 4vh;
     opacity: 0.6;
        
     }
     .ppp{
         padding: 1.5vh 0;
         font-weight: 700;
         font-size: 3.8vh;
         font-style: oblique;
         font-weight: 900;
         opacity: 0.99;
         padding-top: 1vh;
         background-color: transparent;
     }
     #eee{
         padding: 1.3vh 4.6vw;
         background-color: rgb(4, 141, 73);
         transition: all ease 3s;
         font-size: 2.7vw;
         margin-left: 4vw;
         color:  rgb(172, 207, 15);
         font-weight: bold;
     
         margin-top: 4vh;
         /* border-top-left-radius: 15px; */
         /* border-bottom-right-radius: 15px; */
         border-radius: 15px;
     }


     .page2{
    
        width: 100vw;
        height: 95vh;
        /* background-color: aqua; */
        font-size: 3.6vh;
        margin-top: -13vh;
    
     
        
    }
    #hh{
        /* justify-items: center; */
        /* justify-content: center; */
        margin-left: 2vw;
        margin-top: 3vh;
        margin-right: 2vw;
        /* font-style: italic; */
    }
    .page21 img{
        width: 10vh;
        /* height: 7vh; */
        margin: 4.3vh 4vw;
        
    }
    .page21{
        text-align: center;
    }
    .page3{
        width: 100vw;
        height: 20vh;
        
        display: flex;
        /* background-color: aqua; */
    }
    .page3l{
        width: 100vw;
        height: 20vh;
        /* background-color: aqua; */
    }
    .page3l img{
        padding: 1.8vh 3vw;
      /* height: 60vh; */
      width: 100%;
      height: 30vh;
      justify-content: center;
      text-align: center;
      justify-items: center;
      border-radius: 10px;
      margin-top: 7vh;
      border-radius: 30%;
      
    }
    .page3r{
        width: 50vw;
        height: 20vh;
        /* background-color: blue; */
    }
    .page3r h1{
        width: 50vw;
        padding: 1.1vh 4vw;
        font-size: 4.8vw;
        margin-top: 7vh;
    }
    .page3r p{
        width: 50vw;
        font-size: 3vw;
        padding: 1.1vh 4vw;
        font-weight: 500;
        color: rgb(73, 66, 66);
    }
     .bargar{
        
       position: absolute;
       top: 0.8%;
       right: 1.0%;
       width: 4vw;
       height: 2.5vh;
       /* display: none; */

     }
     .line{
        width: 3vw;
        background-color: black;
        height: 0.5vh;
        margin: 0.4vh 1.5vw;
     }
     .h-nev{
        height: 4.2vh;
    }
    .tt{
        left: 90%;
        top: -1%;
        font-size: 1vw;
    }
     

  }