*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
    background-color: aqua;
}
.page1{
    background-color: rgb(238,62,37);
    width: 100vw;
    height: 97vh;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 1vh;
    overflow: hidden;

}
.navber{
    /* background-color: aliceblue; */
    height: 13vh;
    width: 100vw;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    position: absolute;
    margin-left: 7vh;
    margin-top: 4vh;
    color: aliceblue;
    justify-content: space-between;
}
.rightn {
    display: flex;
    width: 55%;
    justify-content: space-between;
    /* padding-right: 5vw; */
    margin-right: 7vw;
    font-size: 3.5vh;
}
.rightn h1{
    font-weight: 900;
}
.leftn{
    margin-left: 7vw;
    font-size: 3.5vh;
    /* padding-bottom: 77vh; */
    margin-top: -0.9vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
}
.iii{
    width: 12vw;
    justify-content: space-between;
    /* position: absolute; */
}
.iii i{
    margin-right: 3vw;
    padding: 0.4vw;
    color: black;
    background-color: white ;
    border-radius: 50%;

}
.iii i:hover{
    background-color: rgb(26, 169, 69);
    z-index: 200;
    box-shadow: 1px 1px 1px black;
}
.page1l{
    width: 45vw;
    /* background-color: black; */
    height: calc(97vh - 13vh);
    position: absolute;
    top: 13vh;
}
.page1r{
    width: 55vw;
    /* background-color: rgb(118, 17, 17); */
    height: calc(97vh - 13vh);
    position: absolute;
    top: 13vh;
    right: 0%;

}
#kfcimg{
    position: absolute;
    top: 10%;
    right: 20%;
  height: 60vh;
}